---
import { twMerge as m } from 'tailwind-merge';
import type { ClassNameValue } from 'tailwind-merge';

interface Props {
  href: string;
  className?: ClassNameValue;
}

const { href, className } = Astro.props;
---

<a class={m([
  `
    flex bg-primary-dark w-full justify-center rounded-lg
    uppercase text-sm font-semibold tracking-widest leading-[50px]
    hover:brightness-125 hover:transition-all
    `,
  className])} href={href}>
  <slot />
</a>
