---
import Hero from '../components/organisms/Hero.astro';
import HowItWorks from '../components/organisms/HowItWorks.astro';
import Layout from '../layouts/Layout.astro';
import Mediation from '../components/organisms/Mediation.astro';
import CurrentReading from '../components/organisms/CurrentReading.astro';
import NextReadings from '../components/organisms/NextReadings.astro';
import Meetings from '../components/organisms/Meetings.astro';
---

<Layout title="README.txt">
  <div class="max-w-[1080px] m-auto">
    <Hero />
    <HowItWorks />
    <Mediation />
    <CurrentReading />
    <NextReadings />
    <Meetings />
  </div>
</Layout>

<style>
</style>
