---
import Hero from '../components/organisms/Hero.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="README.txt">
  <div class="max-w-[1080px] m-auto">
    <Hero />
  </div>
</Layout>

<style>
</style>
