---
import { Image } from 'astro:assets';
import alienMonsterEmoji from '../../assets/img/alien-monster-emoji.png';

const menu = [
  { label: 'como funciona?', href: '#comofunciona' },
  { label: 'mediação', href: '#mediacao' },
  { label: 'leituras', href: '#leituras' },
  { label: 'encontros', href: '#encontros' },
]
---

<header class="flex items-center justify-between px-4 font-mono">
  <div class="flex items-center">
    <Image src={alienMonsterEmoji} alt="" width="24" class="mr-4" />
    <div class="gap-4 sm:w-[300px] flex justify-between bg-[#1E1E21] px-4 py-2 rounded-t-xl">
      <a href="/" aria-label="Página Principal">README.txt</a>
      <span class="font-icon hover:bg-zinc-700 h-6 w-6 flex justify-center items-center rounded-full cursor-default">close</span>
    </div>
  </div>
  <nav class="hidden lg:flex">
    <ul class="flex">
      {
        menu.map((i) => (
          <li>
            <a href={i.href} class="hover:text-primary px-4 py-2 transition-all">{i.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  
</style>
