---
import { Image } from 'astro:assets';
import alienMonsterEmoji from '../../assets/img/alien-monster-emoji.png';

const menu = [
  { label: 'como funciona?', href: '#comofunciona' },
  { label: 'mediação', href: '#mediacao' },
  { label: 'leituras', href: '#leituras' },
  { label: 'encontros', href: '#encontros' },
]
---

<script>
  import gsap from 'gsap';

  gsap.timeline()
    .fromTo('.header-icon', { x:-3 }, { x:0, opacity: 1, duration: 0.5 })
    .fromTo('.header-readme, .header-nav, .header-tabclose', { y:3 }, { y:0, opacity: 1, duration: 0.5, delay:-0.5 })
</script>

<header class="flex items-center justify-between px-4 font-mono">
  <div class="flex items-center">
    <Image src={alienMonsterEmoji} alt="" width="24" class="mr-4 header-icon opacity-0" />
    <div class="gap-4 sm:w-[300px] flex justify-between bg-[#1E1E21] px-4 py-2 rounded-t-xl">
      <a href="/" aria-label="Página Principal" class="header-readme opacity-0">README.txt</a>
      <span class="font-icon hover:bg-zinc-700 h-6 w-6 flex justify-center items-center rounded-full cursor-default header-tabclose opacity-0">close</span>
    </div>
  </div>
  <nav class="hidden lg:flex header-nav opacity-0">
    <ul class="flex">
      {
        menu.map((i) => (
          <li>
            <a href={i.href} class="hover:text-primary px-4 py-2 transition-all">{i.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>

</style>
