---
import ButtonLink from '../atom/ButtonLink.astro';
---

<h1>
  REAME.txt
</h1>
<subtitle>
  Clube de Leitura de Segurança da Informação e Proteção de Dados
</subtitle>
<p>
  O "README.txt" é um Clube de Leitura idealizado e mediado por Caroline Valentim. É dedicado a temas de Segurança da Informação e Proteção de Dados, com o propósito de explorar e debater livros, artigos e demais textos dessas áreas.
</p>
<ButtonLink href="#">Quero Participar</ButtonLink>
