---
import ButtonLink from '../atom/ButtonLink.astro';
import SectionHeading from '../atom/SectionHeading.astro';

interface Props {
  id?: string;
  aria: string;
}

const { id, aria } = Astro.props;
---

<section id={id} aria-label={aria} class="mb-20 flex flex-col md:flex-row md:gap-4">
  <div class="min-w-12 min-h-12">
    <slot name="icon" />
  </div>
  <div class="w-full">
    <slot name="content"/>
  </div>
</section>
