---
import 'swiper/css';
---
<div class="container">
  <div class="swiper swiper-next-action">
    <div class="swiper-wrapper">
      <slot name="items">
        <!--add "swiper-slide" class to each item -->
      </slot>
    </div>
  </div>
  <div class="swiper-next swiper-next-action font-icon">chevron_right</div>
</div>

<script is:inline>
  new Swiper('.swiper', {
    slidesPerView: 'auto',
    spaceBetween: 46,
    slideActiveClass: 'swiper-slide-active',
    navigation: {
      nextEl: '.swiper-next-action',
    },
    a11y: {
      nextSlideMessage: 'Próximo Slide',
    },
    loop: true,
  })
</script>

<style is:global>
  .swiper {
    width: 100%;
    height: fit-content;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }

  .swiper-slide {
    width: fit-content;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  .swiper-slide > img {
    transform: scale(90%);
    transition: transform 200ms;
  }

  .swiper {
    position: relative;
    cursor: pointer;
  }
  .swiper::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #1E1E21 100%);
    width: 100px;
    height: 100%;
    right: 0;
    z-index: 2;
    pointer-events: none;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .swiper-next {
    z-index: 1000;
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    background: radial-gradient(ellipse at left, #AF7BFA50 0%, #AF7BFA20 40%, #1E1E2100 70%);
  }

  .swiper-next:hover {
    filter: brightness(150%);
  }

  .swiper-slide-active > img {
    overflow: visible;
    transform: scale(105%);
    transition: transform 200ms;
    transform: translateX(5px)
  }
</style>
